* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #202c33;
}

.main__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__container h1 {
  color: #f8cf2c;
  margin: 10px 0;
}

.main__content {
  background: #495d6a;
  width: 480px;
  height: 480px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  color: #fff;
}

.input__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 80%;
}

.slider {
  margin: 8px 0;
  width: 50%;
  height: 18px;
  -webkit-appearance: none;
  border-radius: 5px;
  background: #334652;
}

.input__checklist-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input__checklist {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  list-style: none;
}

.input__checklist-items {
  margin: 10px;
  width: 200px;
}

.input__checklist-items input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input__checklist-items input + label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.input__checklist-items input + label::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  bottom: 0;
  border: solid 3px #fff;
  border-radius: 50%;
}

.input__checklist-items input:checked + label::after {
  content: '';
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  background: #f8cf2c;
  border-radius: 50%;
}
.button {
  margin: 10px 0;
  width: 50%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #d9dbd9;
  border-radius: 5px;
  background: none;
  color: #f8cf2c;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.button:hover {
  transform: scale(1.05);
  background: #f8cf2c;
  color: #334652;
}

.password__content {
  max-width: 480px;
  width: 80%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}
.password {
  margin: 15px 0;
  background: #334652;
  height: 50px;
  cursor: pointer;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.5s;
}

.password:hover {
  transform: scale(1.09);
}

.tooltip {
  font-size: 15px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.password__content:hover .tooltip {
  visibility: visible;
  transform: scale(1.09);
  opacity: 1;
}

.hide {
  display: none;
}
